server:
  port: 8080
  servlet:
    context-path: /identity
  address: 0.0.0.0

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Identity_service?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: localhost
      port: 6379
  application:
    name: identity-service

outbound:
  identity:
    client-id: ${GOOGLE_CLIENT_ID:"604644834253-dkbj134u6b13cmh6lhkr1nl069mp72mi.apps.googleusercontent.com"}
    client-secret: ${GOOGLE_CLIENT_SECRET:"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"}
    redirect-url: "http://localhost:3000/authenticate"
    grant-type: "authorization_code"
    authUri: "https://accounts.google.com/o/oauth2/auth"

jwt:
  signerKey: "15dbefda1f522778324fdbb8810d843bc5716214e793da2040db05b9fefc5e85"
  valid-duration: 3600
  refreshable-duration: 360000 #in second

app:
  services:
    profile: "http://localhost:8081/profile"
    notification: "http://localhost:8082/notification"
