<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table style="width: 100%">
    <tr>
        <td style="text-align: center;">LOGO</td>
        <td style="text-align: center;"><h1>EDIT/REGISTER EMPLOYEED</h1></td>
    </tr>
</table>
<form th:action="@{/registryHandle} " th:object="${registryForm}" method="post">
    <table align="center" >
        <tr>
            <td>Employee Code</td>
            <td><input type="text" th:field="*{employeeCode}" /></td>
        </tr>
        <tr>
            <td>Employee name</td>
            <td><input type="text" th:field="*{employeeName}" /></td>
        </tr>
        <tr>
            <td>Employee First Name</td>
            <td><input type="text" th:field="*{firstName}" /></td>
        </tr>
        <tr>
            <td>Employee Last Name</td>
            <td><input type="text" th:field="*{lastName}" /></td>
        </tr>

        <tr>
            <td><button type="submit">Submit</button></td>
            <td><button type="reset">Reset</button></td>
        </tr>
    </table>
</form>

</body>
</html>
