server:
  port: 8083
  address: 0.0.0.0
  servlet:
    context-path: /chat

spring:
  application:
    name: chat-service
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 50MB

  data:
    mongodb:
      uri: mongodb://root:root@localhost:27017/chat-service?authSource=admin
      auto-index-creation: true
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
  cache:
    type: redis
    redis:
      time-to-live: 300000
      cache-null-values: false
      use-key-prefix: true
      key-prefix: "chat-service"
      enable-statistics: true
  websocket:
    enabled: true

app:
  services:
    profile:
      url: http://localhost:8081/profile
    identity:
      url: http://localhost:8080/identity
  call:
    ring-timeout: 60 #seconds
    max-duration: 3600
